<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SGOCI</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="./welcome/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./welcome/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./welcome/assets/css/form-elements.css">
        <link rel="stylesheet" href="./welcome/assets/css/style.css">

		
    </head>

    <body>
	


        <!-- Top content -->
        <div class="top-content" >
        	<div class="container">
                	
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Bienvenidos al Sistema de Gestión de Otorgamiento de Círculos Infantiles</h1>
                      
                    </div>
                </div>
                
                

				<div class="row register-form">
                    <div class="col-sm-4 col-sm-offset-1">
						<form role="form" action="" method="post" class="l-form">
	                    	
	                        
				            <a href="/" ><button type="button" class="btn">Autenticar</button></a>
				    	</form>
				    	
                    </div>
                    <div class="col-sm-6 forms-right-icons">
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-user"></i></div>
							<div class="col-sm-10">
								<h3>Comunicacion Eficiente</h3>
								<p>El sistema facilita la comunicacion entre el personal del centro y los padres</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-eye"></i></div>
							<div class="col-sm-10">
								<h3>Acceso en linea</h3>
								<p>Los padres pueden acceder al sistema en linea para realizar solicitudes,y recibir informacion sobre los procesos asociados al medio</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-twitter"></i></div>
							<div class="col-sm-10">
								<h3>Siganos en muestras Redes Sociales </h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-pencil"></i></div>
							<div class="col-sm-10">
								<h3>Formas hermosas</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
							<div class="col-sm-10">
								<h3>Inicio de sesión impresionante</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-magic"></i></div>
							<div class="col-sm-10">
								<h3>Gran registro</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
							</div>
						</div>
                    </div>
                </div>
                
                

							
</div>
        </div>

        

        <!-- Javascript -->
        <script src="./welcome/assets/js/jquery-1.11.1.min.js"></script>
        <script src="./welcome/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="./welcome/assets/js/jquery.backstretch.min.js"></script>
        <script src="./welcome/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>