<!--<!DOCTYPE html>
<html>
  <head>
    <title>Solicitud de ingreso al círculo infantil</title>
  </head>
  <body>
    <h1>Solicitud de ingreso al círculo infantil</h1>
    <form method="POST" action="/solicitud">
      <label for="nombre">Nombre del niño:</label>
      <input type="text" name="Nombre del niño" id="Nombre del niño" required><br><br>
      <label for="numero">CI del niño:</label>
      <input type="number" name="CI del niño" id="CI del niño" required><br><br>
      <label for="edad">Edad:</label>
      <input type="number" name="edad" id="edad" required><br><br>
      <label for="direccion">Dirección particular:</label>
      <input type="text" name="Dirección particular" id="Dirección particular" required><br><br>
      <label for="nombre">Nombre del solicitante:</label>
      <input type="text" name="Nombre del solicitante" id="Nombre del solicitante" required><br><br>
      <label for="numero">CI del solicitante:</label>
      <input type="number" name="CI del solicitante" id="CI del solicitante" required><br><br>
      <label for="nombre">Centro de trabajo:</label>
      <input type="text" name="Centro de trabajo" id="Centro de trabajo" required><br><br>
      <label for="email">Correo electrónico:</label>
      <input type="email" name="email" id="email" required><br><br>
      <input type="submit" value="Enviar solicitud">
    </form>
  </body>
</html>-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Gestion de otorgamiento de circulo infantil</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class="bg-gray-200">
    
    <nav class="flex py-5 bg-blue-500 text-white px-24">
        <div class="w-1/2 px-12 mr-auto">
        <p class="text-2xl font-bold">Solicitar círculo infantil</p>
        </div>

        <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        <li class="nav-item px-4">
            <a href="/Cliente" class="nav-link font-semibold hover:bg-blue-700 py-3 px-4 rounded-md">Inicio</a>
        </li>

        </ul>

    </nav>
 
 
<div class="block mx-auto my-12 p-8 bg-white w-1/3 border-gray-200 rounder-lg shadow-lg">

<h1 class="text-center text-3xl font-bold">Introduzca los datos</h1>

<form action="/solicitar" method="POST"  class="mt-4">

     <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Nombre del niño" pattern="[A-Z][a-z]*" required name="nombreniño" >

     <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "CI del niño" pattern="[0-9]{11}" required name="CIniño">

     <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Edad" pattern="[0-6]{1}" required name="edad" >

     <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Dirección particular"required name="direccionparticular">

    <div> <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Nombre del solicitante" name="nombresolicitante" value="{{user.nombre}} {{user.apellido}}"></div>

    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "CI del solicitante" pattern="[0-9]{11}" required name="CIsolicitante">

    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Centro de trabajo"required name="centrotrabajo">

    <input type="email" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500
    p-2 my-2 focus:bg-white" placeholder = "Correo eléctronico"required name="correo">

   

      {{#if exist_error}}
      <p style="color: brown;" class="text-red-500 font-bold text-lg my-3">{{error}}</p>
      {{/if}}

    <button type="submit" class="rounder-md bg-blue-500 w-full text-white font-semibold p-2 my-3
    hover:bg-blue-600 focus:bg-white-700">Solicitar</button>


</form>

</div> 

  
  </body>
</html>